<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Play This</title>
	<meta name="theme-color" content="#2F3BA2">
	<link rel="manifest" href="/static/manifest.json">
	<meta name="theme-color" content="#2F3BA2">
</head>
<body>
	<input type="text" id="url">
	<button id="play">Play</button>
	<button id="stop">Stop</button>
	<button id='pause'>Pause</button>
	<button id='fscreen'>Fullscreen</button>

	<script src="/static/app.js"></script>
</body>
</html>